@tailwind base;
@tailwind components;
@tailwind utilities;

#banner{
  margin: 0%;
  padding-bottom: 8.3rem;
  font-family: sans-serif;
  background-color: #000000bf;
}

label#logo {
  padding: 0 100px;
  line-height: 11.875rem;
} 

.name {
  background-color: #14141b;
}
@media only screen and (max-width:780px) {
  #text-white {
    margin-left: auto;
    margin-right: auto;
  }
    
    #flex{
    display: none;
  }
  label#logo {
    padding: none;
  } 
  .pl-24{
    padding-left: 0;
  }
  .pr-24{
    padding-right: 0;
  }
}
