@tailwind base;
@tailwind components;
@tailwind utilities;

#banner{
  margin: 0%;
  padding-bottom: 8.3rem;
  font-family: sans-serif;
  background-color: #000000bf;
}

label#logo {
  padding: 0 100px;
  line-height: 11.875rem;
} 

*{
  background-color: #14141b;
}
@media only screen and (max-width:780px) {
  #text-white {
    margin-right: auto;
  }
    
    .flex{
    flex: none;

  }
}
